 .card {
    margin: 30% auto auto auto;
    background: #F0F5FF;
    .card-content {
      background: #F0F5FF;
      .card-content-list {
        .card-content-list-title {
          margin-bottom: 5%;
        }
      }
      .card-content-list-item {
        b {
          width: 40%;
          padding: 5px;
        }
        .card-content-list-item-col {
          color: #B70000;
        }
      }
    }
  }

  .price {
    text-align: center;
    margin-top: 10%;
    .price-input {
      text-align: center;
      width: 40%;
      border: 1px solid #5B5F64;
      border-radius: 5px;
    }
  }

  .fBtn {
    margin-top: 10%;
  }

