page-stock {
  .content-list{
    .content-list-item {
      margin-top:10px;
      margin-bottom:20px;
      .content-list-item-title{
        display: inline-block;
        margin: 0 0 2px;
        font-size: 14px;
        font-weight: bold;
      }
      .content-list-item-infor{
        float: right;
        .content-list-item-infor-title{
          color: #222222;
          font-size: 14px;
          font-weight: normal;
        }
        .content-list-item-infor-num{
          color: #9ACB61;
          font-size: 14px;
          font-weight: normal;
        }
      }
    }
  }
}
